.boostbox-popup-overlay {
    visibility: hidden;
}

.boostbox-popup-overlay.active {
    visibility: visible;
}

/** @todo This overlay needs to be customizable by the website admin */
.boostbox-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
}

.boostbox-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boostbox-popup-content .boostbox-close {
    background: #FFF;
    border-radius: 50%;
    display: block;
    height: 34px;
    padding: 0px;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 999;
}