/** @todo This overlay needs to be customizable by the website admin */
.boostbox-popup-overlay {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 9999;
}

.boostbox-popup-overlay.active {
    visibility: visible;
}

.boostbox-popup-content {
    position: relative;
}

.boostbox-popup-content .boostbox-close {
    background: transparent;
    border-radius: 50%;
    border: 0;
    display: block;
    height: 34px;
    padding: 0;
    position: absolute;
    top: -36px;
    right: -6px;
    z-index: 999;
}

/** @todo when creating custom gutenberg blocks for people to use, 
    make sure to add custom classes to the wrappers so we can style 
    each form type accordingly */

/** BoostBox Popup #1 */

.boostbox-popup-content .boostbox-popup-1 .wp-block-columns {
    display: flex;
}

.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h1,
.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h2,
.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h3,
.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h4,
.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h5,
.boostbox-popup-content .boostbox-popup-1 .wp-block-columns h6 {
    margin-top: 0;
}

.boostbox-popup-content .boostbox-popup-1 .wp-block-columns .wp-block-video {
    margin: 0;
}

.boostbox-popup-content .boostbox-popup-1 .wp-block-columns video {
    max-width: 100%;
}

/** Gravity Forms - field wrapper */

.boostbox-popup-content .gform_fields {
    list-style-type: none;
    margin: 0;
}

/** WPForms - label */

.wpforms-field-label,
.wpforms-field-sublabel.after {
    display: block;
}

.wpforms-field-label.wpforms-label-hide {
    display: none;
}

/** WPForms - input fields */

.wpforms-field-small,
.wpforms-field-medium,
.wpforms-field-large,
.wpforms-field-row-block.wpforms-one-half input {
    width: 100%;
}

.wpforms-field-container {
    margin: 6px 0;
}

.wpforms-field-row,
.wpforms-field.wpforms-field-name,
.wpforms-field.wpforms-field-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wpforms-field-row-block.wpforms-one-half {
    flex-basis: 49%;
    margin: 6px 0;
}

.wpforms-field-sublabel.after.wpforms-sublabel-hide {
    display: none;
}

.wpforms-submit-container {
    margin: 12px 0 0 0;
}
